.SignUp {
    text-align: center;
    box-sizing: border-box;
}

.Cancel {
    position: relative;
    float: left;
    margin: 1em;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.Cancel::before, .Cancel::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 3px;
    background: #AFB2B5;
}

.Cancel::before {
    transform: rotate(45deg);
}

.Cancel::after {
    transform: rotate(-45deg);
}

.ProgressBar {
    position: relative;
    height: 1em;
    width: 100%;
}

.ProgressBarBack {
    display: block;
    height: 1px;
    border: 0;
    border-top: 0.7em solid #EBF6FE;
    margin: 3em 0;
    padding: 0;
}

.ProgressBarMover {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.7em;
    width: 15%;
    background: #0089FF;
    transform-origin: 0 0;
    opacity: 100;
    transition: all 0.3s ease;
}

.Container {
    position: relative;
    text-align: left;
    margin: auto;
    width: 70%;
}

.SignUpForm {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.Form {
    opacity: 100;
    transition: opacity 0.3s ease;
}

.Form.Hide {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.HeaderNormal {
    font-size: 2.7em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.4em;
}

.HeaderSmall {
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.4em;
}

.HeaderSmallMargin {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.2em;
}

.SubHeader {
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: #AFB2B5;
    transition: all 0.4s ease;
}

.Label {
    position: relative;
    margin: auto;
    width: 100%;
}

.InputLabel {
    font-size: 0.8em;
    font-weight: 700;
    color: #AFB2B5;
    transition: all 0.4s ease;
}

.InputBorder {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #0089FF;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.InputText {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    vertical-align: bottom;
    margin-top: 2em;
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 3px solid #AFB2B5;
    background: none;
    border-radius: 0;
    color: #AFB2B5;
    transition: all 0.4s ease;
}

.InputText:focus {
    background: none;
    outline: none;
}

.InputText:focus+span {
    transform: scale(1);
}

.Option {
    text-align: center;
    width: 100%;
    font-size: 22px;
}

.Option input {
    display: none;
}

.Option .CheckMark {
    font-weight: 600;
    width: 92%;
    padding: 4%;
    margin-top: 0.3em;
    border: 1px solid;
    border-radius: 5px;
    transition: all 0.3s;
}

.Submit {
    outline: none;
    position: fixed;
    bottom: 50px;
    background: none;
    color: #0089FF;
    width: 70%;
    font-size: 1.4em;
    font-weight: 600;
    border: 2px solid #0089FF;
    border-radius: 0.5em;
}

/* https://freefrontend.com/css-input-text/ */